.header {
  // .header__top
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #191919;
  }

  // .header__left
  &__left {
    display: flex;
    gap: 40px;
  }

  // .header__right
  &__right {
    display: flex;
    gap: 68px;
  }


  // .header__location
  &__location {
    display: flex;
    gap: 8px;
  }

  // .header__icon
  &__icon {
    height: 20px;
  }

  // .header__text
  &__text {
    position: relative;
    padding: 0 20px 0 0;
    &::after {
      content: url("../assets/icons/arrow-down.svg");
      position: absolute;
      right: 0;
    }
  }

  // .header__waiting
  &__waiting span {
    font-weight: 600;
  }

  // .header__account
  &__account {
    position: relative;
    padding: 0 0 0 28px;
    &::before {
      content: url("../assets/icons/account.svg");
      position: absolute;
      left: 0;
    }
  }
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  // .bottom-header__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  // .bottom-header__text
  &__text {
    font-weight: 600;
  }

  // .bottom-header__cart
  &__cart {
  }
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 90px;
  height: 40px;
  padding: 8px 16px;
  background: #FF7010;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

  // .cart__icon
  &__icon {

  }

  // .cart__icon
  &__wrapper {
    position: relative;

  }

  // .cart__total
  &__total {
    position: absolute;
    right: -6px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    padding: 5px;
    border-radius: 100%;
    background-color: #ef2b51;
    font-size: 11px;
  }

  // .cart__cost
  &__cost {
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #191919;

  &__container {
    margin: 30px auto;
  }

  // .menu__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 10.46%;
    height: 104px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    transition: all 0.4s ease 0s;
    &:hover {
      background: #FFEEE2;
    }
  }

  // .menu__icon
  &__icon {
  }

  // .menu__text
  &__text {
  }
}