.search-form {
  display: flex;
  align-items: center;
  // .search-form__title
  &__title {
    display: inline-block;
    margin: 0 32px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
  }

  // .search-form__wrapper
  &__wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    height: 48px;
    padding: 1px;
  }

  // .search-form__icon
  &__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__close {
    display: none;
    position: absolute;
    top: 11px;
    right: 21%;
    width: 29px;
    height: 29px;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 11px;
      left: 6px;
      width: 12px;
      height: 2px;
      border-radius: 3px;
      background: #292929;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
    &-active {
      display: block;
    }
  }

  // .search-form__input
  &__input {
    flex: 0 1 80%;
    padding: 13px 0 13px 40px;
    outline: none;

    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #A5A5A5;
    }

    &:focus {
      border-radius: 6px;
      border: 1px solid #FF7010;
    }
  }
}