@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@400;600&display=swap');

[class*="__container"] {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 195px;
}

@media (max-width: 1700px) {
  [class*="__container"] {
    padding: 0 100px;
  }
}

@media (max-width: 1290px) {
  [class*="__container"] {
    padding: 0 20px;
  }
}


.lock {
  overflow: hidden;
  touch-action: none;
}
@import "null";
@import "header";
@import "search-form";
@import "dropdown";
@import "filter";
@import 'nouislider/dist/nouislider.css';
@import "price-slider";
@import "popular";
@import "catalog";
@import "card";
@import "popup";
@import "footer";